* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
}

.container {
  width: 375px;
  height: 100vh;
  background: var(--White);
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.navBar img {
  height: 1.2em;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5em;
}

.cart {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5em;
}

.profilepic {
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1.5em;
}

.doughnut {
  margin-right: 1em;
  margin-top: 0.2em;
  width: 1em;
}

.product img {
  width: 375px;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.previous img {
  position: absolute;
  left: 1em;
  top: 8em;
  border-radius: 50px;
  background: var(--White);
  padding: 0.7em;
}

.next img {
  position: absolute;
  top: 8em;
  right: 1em;
  border-radius: 50px;
  background: var(--White);
  padding: 0.7em;
}

.displayImageDiv {
  position: relative;
  margin-top: 2em;
}

.stories h4 {
  color: var(--Orange);
  font-size: 0.7em;
  margin: 1em 0;
}

.stories h3 {
  width: 60vw;
  font-size: 1.5em;
}

.stories h6 {
  width: 85vw;
  font-size: 0.9em;
  line-height: 1.5em;
  font-weight: 600;
  word-wrap: break-word;
  margin: 1em 0;
  color: var(--DarkGrayishBlue);
}

.stories {
  margin: 1.5em;
}

.promo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
}

.promo h1 {
  font-size: 1.5em;
}

.promo h4 {
  padding: 5px;
  border-radius: 10px;
  background: var(--PaleOrange);
  color: var(--Orange);
  font-size: 1.1em;
}

.promo h5 {
  text-decoration: line-through;
  color: var(--DarkGrayishBlue);
  font-size: 1.2em;
  opacity: 0.8;
}

.cartCount {
  width: 85vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  background: rgb(247, 247, 247);
  padding: 1.2em 0;
  border-radius: 0.7em;
  margin: 1em 1.5em;
}

.cartCount .minus {
  height: 0.3em;
}

button {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  padding: 1em 6em;
  border: none;
  outline: none;
  border-radius: 0.7em;
  outline: none;
  background: var(--Orange);
  color: var(--White);
  font-size: 1em;
  margin: 0 1.5em 3em 1.5em;
}

button h6 {
  font-size: 1em;
}
