* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
}

.container {
  width: 1440px;
  max-width: 80vw;
  padding: 2em 0;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--White);
}

.tank {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}

.link-div ul {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  font-size: 1.5em;
  margin-top: 1em;
}

.link-div ul li {
  list-style-type: none;
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu .logo {
  height: 1.5em;
  margin-right: 10vw;
  margin-top: 1.5em;
}

.cart img {
  width: 1.5em;
  height: 1.5em;
}

.cartImg {
  margin-top: 1em;
}

.cart {
  cursor: pointer;
}

.cart .profilepic {
  border-radius: 50%;
  object-fit: cover;
  width: 3em;
  height: 3em;
  margin-left: 1vw;
}

.secDiv {
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.secDiv .product1 {
  width: 30vw;
  min-width: 25vw;
  border-radius: 5px;
  margin-bottom: 3vh;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 2.6vw;
}

.thumbnails img {
  width: 5.5vw;
  border-radius: .7em;
  cursor: pointer;
}

.infoDiv {
  width: 30vw;
  margin-top: 10vh;
}

.stories h4 {
  color: var(--Orange);
  margin-bottom: 2vh
}

.stories h3 {
  width: 25vw;
  font-size: 2.5em;
  margin-bottom: 1.2em;
}

.stories h6 {
  width: 25vw;
  font-size: 1.5em;
  font-weight: 500;
  color: grey;
  margin-bottom: 1.2em;
}

.price {
  width: 40vw;
}

.promo {
  display: flex;
  margin-bottom: 1em;
}

.promo h1 {
  margin-right: 3vw;
}

.promo h4 {
  background-color: rgb(245, 231, 209);
  padding: .5em;
  border-radius: .5em;
  color: var(--Orange);
}

.priceSlash h5 {
  text-decoration: line-through;
  color: rgb(165, 158, 158);
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.productCount {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 20vw;
}

.cartCount {
  width: 8vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  border-radius: .5em;
  padding: 1em;
  align-items: center;
}

.minus {
  width: 1em;
  height: .4em;
  cursor: pointer;
}

.plus {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.zero {
  font-size: 1.2em;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.btnDiv button {
  width: 12vw;
  color: white;
  border-radius: .5em;
  border: none;
  outline: none;
  background: var(--Orange);
  align-items: center;
}

button {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.btnDiv img {
  width: .8em;
  height: .8em;
}

@media screen and (max-width: 1316px){
  .infoDiv {
    margin-top: 1vh;
  }

  .stories h3 {
    margin-bottom: 1vh;
  }

  .stories h6 {
    margin-bottom: 1vh;
  }

  .cart .profilepic {
    width: 2.5em;
    height: 2.5em;
    margin-top: .5em;
  }

  .cart .cartImg {
    width: 1.2em;
    height: 1.2em;
  }

  .link-div ul li {
    font-size: 1em;
    margin-left: -.5vw;
  }

  .link-div ul {
    gap: 1vw;
  }
}

@media screen and (max-width: 956px){
  .logo {
    width: 10vw;
  }

  .link-div ul {
    gap: 1vw;
    margin-left: -5vw;
  }

  .link-div ul li {
    font-size: 1em;
  }

  .cart img {
    margin-left: -5vw;
  }

  .secDiv .product1 {
    width: 35vw;
  }

  .thumbnails img {
    width: 6.7vw;
  }

  .stories h4 {
    margin-top: 0;
  }

  .stories h3 {
    font-size: 1.5em;
  }

  .stories h6 {
    width: 23vw;
    font-size: 1em;
  }

  .promo {
    margin-bottom: .5em;
  }

  .promo h1 {
    font-size: 1.5em;
  }

  .promo h4 {
    font-size: 1em;
    padding: .3em;
  }

  .cartCount {
    gap: .5em;
  }

  .btnDiv {
    justify-content: center;
  }

  button h6 {
    justify-content: flex-start;
    margin-left: -.7em;
  }

  .minus {
    width: 1em;
    margin-left: -.5em;
  }
}

@media screen and (max-width:1600px){
  .infoDiv {
    margin-top: 1vh;
  }
}

@media screen and (max-width:1800px){
  .infoDiv {
    margin-top: 1vh;
  }
}

@media screen and (max-width:1551px) {
  .stories h3 {
    margin-bottom: 1vh;
  }
}

@media screen and (max-width:1845px) {
  .infoDiv {
    margin-top: 1vh;
  }
}

@media screen and (max-width:2085px) {
  .infoDiv {
    margin-top: 3vh;
  }

  .stories h3 {
    width: 20vw;
  }

  .stories h6 {
    width: 23vw;
  }
}

@media screen and (max-width:1454px) {
  .infoDiv {
    margin-top: 1vh;
  }

  .stories h3 {
    width: 25vw;
  }

  .stories h6 {
    font-size: 1.5em;
    width: 28vw;
    margin-bottom: 1vh;
  }
}

@media screen and (max-width:1200px){
  .stories h3 {
    font-size: 1.5em;
  }

  .stories h6 {
    font-size: 1.2em;
  }

  .stories h4 {
    margin-bottom: 1vh;
  }

  .link-div ul li {
    font-size: .8em;
  }

  .menu .logo {
    width: 9vw;
  }
  
}

@media screen and (max-width:1340px){
  .link-div ul li {
    font-size: .9em;
  }
}


